*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Custom properties */

:root {
    --ff-primary: 'Rubik', sans-serif;
    --ff-secondary: 'DM Mono', monosapce;

    --fw-light: 400;
    --fw-reg: 500;
    --fw-bold: 700;

    --clr-light: #fcfcfc;
    --clr-dark: #303030;
    --clr-accent: #7410f9;

    --fs-h1: 2.75rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.25);

    --animation-function: cubic-bezier(0.5, 0, 0.5, 1);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 3.25rem;
        --fs-h2: 2.5rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General properties */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-light);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    padding: 3em 2em;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
    font-weight: var(--fw-reg);
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.title {
    margin-bottom: 0.25em;
}

.title--intro {
    font-weight: var(--fw-light);
}

.title--intro__name {
    font-weight: var(--fw-bold);
    display: block;
}

.title--intro__place {
    font-weight: var(--fw-reg);
}

.subtitle {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: var(--fs-h3);
}

.subtitle--intro {
    font-family: var(--ff-secondary);
    background-color: var(--clr-accent);
    color: var(--clr-light);
    padding: 0.5em;
    display: inline-block;
}

/* Navigation */
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav {
    position: fixed;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 500ms var(--animation-function);
}

.nav__list {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav__item {
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

.nav__link:hover {
    text-decoration: underline;
}

.nav-toggle {
    z-index: 2
}

.nav-open .nav {
    transform: translateX(0);
}

.logo {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
}

/* Intro */

@media(min-width: 700px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        column-gap: 1em;
        grid-template-areas:
            "img p-title"
            "img subtitle"
            "img s-title";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 200px;
        position: relative;
        box-shadow: var(--bs);
    }

    .subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: start;
        padding-left: calc(200px + 2.5em);
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* About */
.about {
    background-color: var(--clr-accent);
    color: var(--clr-light);
    text-align: center;
}

/* Works */
.works {
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1em;
}

.portfolio__item {
    background-color: var(--clr-accent);
    overflow: hidden;
    box-shadow: var(--bs);
}

.portfolio__img {
    transition: transform 750ms var(--animation-function),
        opacity 250ms linear;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.1);
    opacity: 0.25;
}

/* Footer */
.footer {
    background-color: var(--clr-accent);
    color: var(--clr-light);
    text-align: center;
    padding: 2.5em 0;
}

.social-link {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 2em 0;
}

.social-list__link {
    margin: 0 0.5em;
    padding: 0.5em;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: 1;
}

.footer__link:hover {
    text-decoration: underline;
}