*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Custom properties */

:root {
    --ff-primary: 'Rubik', sans-serif;
    --ff-secondary: 'DM Mono', monosapce;

    --fw-light: 400;
    --fw-reg: 500;
    --fw-bold: 700;

    --clr-light: #fcfcfc;
    --clr-dark: #303030;
    --clr-accent: #1974a3;

    --fs-h1: 2.75rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.25);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 3.25rem;
        --fs-h2: 2.5rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General properties */

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-light);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 3em 2em;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
    font-weight: var(--fw-reg);
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.logo {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
}

.title {
    margin-bottom: 0.25em;
}

.title--intro {
    font-weight: var(--fw-light);
}

.title--intro__name {
    font-weight: var(--fw-bold);
    display: block;
}

.title--intro__place {
    font-weight: var(--fw-reg);
}

.subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.subtitle--intro {
    font-family: var(--ff-secondary);
    background-color: var(--clr-accent);
    color: var(--clr-light);
    margin-bottom: 0.25em;
    padding: 0.5em;
}

nav {
    display: none;
}

/* Intro */

@media(min-width: 650px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img p-title"
            "img subtitle"
            "img s-title";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 200px;
        position: relative;
        box-shadow: var(--bs);
    }

    .subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: center;
        padding-left: 7.5rem;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}